<h2
  style="
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
  "
>
  Character Detail
</h2>

<div
  style="
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blueviolet;
  "
  *ngIf="chardetails"
>
  <span>{{ chardetails.name }}</span
  ><br />
  <span>Height: {{ chardetails.height }}</span
  ><br />
  <span>Weight: {{ chardetails.weight }}</span
  ><br />
  <span>Id: {{ chardetails.id }}</span
  ><br />

  <div>
    <label>Update: </label>
    <input type="text" [(ngModel)]="chardetails.name" />
    <input type="text" [(ngModel)]="chardetails.height" />
    <input type="text" [(ngModel)]="chardetails.weight" />
    <button type="button" (click)="save()">Save</button>
  </div>

  <button type="button" (click)="getBack()">Back</button>
</div>
